<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="restassured.class08.CrateUser"/>
      <class name="restassured.class08.GetUser"/>
      <class name="restassured.class08.UpdateUser"/>
      <class name="restassured.class08.DeleteUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
